
@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

.player-profile {
  max-width: 1200px;
  min-width: 600px;
  margin: 0 auto;
  padding: 0rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  .profile-container {
    display: flex;
    gap: 1rem;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .profile-left {
    flex: 1;
    background-color: #71a6c8; // Blue background
    padding: 2rem;
    color: white;

    .player-image {
      width: 100%;
      height: auto;
      border-radius: 8px;
      margin-bottom: 1rem;
    }

    .player-name {
      font-weight: 700;
      margin: 0;
      color: #586069;

      @include large {
        font-size: 3.25rem;
      }

      @include medium {
        font-size: 2.25rem;
      }

      @include small {
        font-size: 1.75rem;
      }
    }

    .left-heading {
      color: #f0f2f4;
      border-bottom: 3px solid #586069;
      padding-bottom: 0rem;
      margin-bottom: 1rem;

      @include large {
        font-size: 1.75rem;
      }

      @include medium {
        font-size: 1.25rem;
      }

      @include small {
        font-size: 0.75rem;
      }
    }
    .contact-section {
      margin-top: 2rem;
      
      .reference {
        margin-bottom: 1rem;
        
        p {
          margin: 0.2rem 0;
        }
        .ref-name {
          font-weight: bold;
        }
        .ref-title {
          font-style: italic;
        }
        .ref-phone, .ref-email {
          font-size: smaller;
        }
      }
      h2 {
        color: #f0f2f4;
        border-bottom: 3px solid #586069;
        padding-bottom: 0.5rem;
        margin-bottom: 1rem;
      }
    }
  }

  .profile-right {
    flex: 2;
    padding: 1rem;

    h1 {
      color: #71a6c8;
      border-bottom: 3px solid #586069;
      padding-bottom: 0rem;
      margin-bottom: 1rem;
    }

    h2 {
      color: #71a6c8;
      border-bottom: 3px solid #586069;
      padding-bottom: 0rem;
      margin-bottom: 1rem;
      font-size: larger;
    }

    .stats-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      margin: 1rem 0;
    }

    .schedule-grid {
      display: grid;
      gap: 0.5rem;

      .game {
        display: grid;
        grid-template-columns: auto 1fr auto auto;
        gap: 1rem;
        align-items: center;
      }
    }

  }
}